
{:source-paths ["src"]
 :dependencies [[mvc-works/hsl          "0.1.2"]
                [mvc-works/shell-page   "0.1.9"]
                [respo                  "0.9.2"]
                [respo/ui               "0.3.9"]
                [respo/value            "0.2.5"]
                [respo/reel             "0.3.4"]]
 :open-file-command ["subl" ["%s:%s:%s" :file :line :column]]
 :builds {:browser {:target :browser
                    :output-dir "target/"
                    :asset-path "./"
                    :modules {:main {:init-fn global-popup.main/main!}}
                    :devtools {:after-load global-popup.main/reload!
                               :http-root "target"
                               :http-port 7000
                               :loader-mode :eval}
                    :release {:output-dir "dist/"
                              :module-hash-names 8
                              :build-options {:manifest-name "assets.edn"}}}
          :ssr {:target :node-script
                :output-to "target/ssr.js"
                :main global-popup.render/main!
                :devtools {:after-load global-popup.render/main!}}}}
